run = "tsx index.ts"
entrypoint = "index.ts"
hidden = [".config", "package-lock.json", "tsconfig.json"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["npm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 35421
externalPort = 3003

[[ports]]
localPort = 45485
externalPort = 3002

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Mobile App"

[[workflows.workflow]]
name = "Expo Mobile App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:mobile"
waitForPort = 5000
